:root{
	--bar-height: 60px;
	--color-primary: #000000;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.u-centered {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 8px 16px;
	box-sizing: border-box;
}

.u-centered-big {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 8px 16px;
	box-sizing: border-box;
}

.u-centered-middle {
	width: 100%;
	max-width: 590px;
	margin: 0 auto;
	padding: 8px 16px;
	box-sizing: border-box;
}

.word {
	float: left;
	width: 110px;
}

.words {
	display: inline-block
}

.bar {
	z-index: 1;
	margin: auto;
	width: 100%;
	/* max-width: 1024px; */
	height: var(--bar-height);
	box-shadow: 0, 0, 10px, rgba(0,0,0,0.15);
	transition: background 0.15s;
}

.bar--bg {
	background: var(--color-primary);
}

.bar__content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 8px 16px;
	box-sizing: border-box;
}

.bar__logo {
	height: 100%;
	vertical-align: middle;
}

.bar__logo-container {
	height: 100%;
}

.bar__nav-toggle {
	cursor: pointer;
}

.bar__nav-toggle > i {
	color: #ffffff;
	font-size: 2em;
}

#inpNavToggle {
	display: none;
}

#inpNavToggle:checked ~ .nav {
	display: flex;
}

.nav {
	display: none;
	flex-direction: column;
	position: fixed;
	top: var(--bar-height);
	left: 0;
	width: 100%;
	height: calc(100vh - var(--bar-height));
	padding: 32px;
	background: #222222;
	box-sizing: border-box;
}

.nav__link {
	padding: 16px 0;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav__link:hover {
	opacity: 0.8;
}

.footer__link-container {
	display: contents;
	margin-left: 20px;
	margin-top: 20px;
}

.footer__link {
	display: block;
	padding: 16px 0;
	text-decoration: none;
	color: #ffffff;
}

.footer__link:hover {
	opacity: 0.8;
}

.footer-bg {
	background: #000;
	width: 100%
}

.footer {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
}

.footer-top {
	height: 130px;
}

.footer-bottom {
	height: 200px;
	border-top: 1px solid #333;
}

.copyright {
	line-height: 1.65;
	color: #666;
	font-size: 13px;
}

.bar__home-link {
	font-weight: 700;
	padding-left: 5px;
	text-decoration: none;
	color: #ffffff;
}

.undecorated-link {
	text-decoration: none;
	color: black;
}

.app-icon-and-name {
	display: inline-block;
	height: 40px;
	align: center;
	vertical-align: middle;
}

.app-name {
	display:inline-block;
	vertical-align: middle;
}

.full-height {
	height: 100%;
}

.screenshot {
	width: 100%;
	margin: 0 auto;
}

.dev-description-container {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.dic-description-container {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.apps-icons-container {
	padding-left: 16px;
}

.apps-icons-container2 {
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
}

.apps-icon {
	width: 18%;
}

.header-background {
	width: 100%;
	height: 330px;
	background-color: #F6F6F6;
	z-index: 100;
}

.header-background-dic {
	width: 100%;
	height: 300px;
	background-color: #F6F6F6;
	z-index: 100;
}

.header-background-small {
	width: 100%;
	height: 140px;
	background-color: #F6F6F6;
	z-index: 100;
}

.header-background-none {
	width: 100%;
	height: var(--bar-height);
	background-color: #F6F6F6;
	z-index: 100;
}

.header-background-empty {
	height: var(--bar-height);
}

.bar__menu {
	width: 30px;
}

.text-justify {
	text-align: justify!important;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 820px) {
	.bar__nav-toggle {
		display: none;
	}
	
	.nav {
		display: initial;
		position: static;
		flex-direction: row;
		width: unset;
		height: unset;
		padding: unset;
		background: transparent;
	}
	
	.nav__link {
		border-bottom: none;
	}
	
	.nav__link:not(:last-of-type) {
		margin-right: 24px;
	}
	
	.footer__link-container {
		display: inline-block;
	}
}
